/* VARIABLES*/
/* GLOBAL*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: none;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  /* Style for "Background" from PSD */
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
  flex-direction: row;
}

section {
  padding: 96px 0;
}

[class*=__info] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class*=info-title] {
  text-transform: uppercase;
  font-size: 48px;
}

[class*=info-subtitle] {
  color: #bbb;
  font-family: "Unna", serif;
  padding-bottom: 54px;
}

/* NAVIGATION*/
.navigation {
  position: absolute;
  width: 100%;
  padding: 40px 0;
  z-index: 1;
}
.navigation__logo {
  width: 79px;
  height: 28px;
  color: #fed136;
  color: #ffffff;
  font-family: "Great Vibes", cursive;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 41px;
  text-align: left;
  /* Text style for "G, olden" */
  color: #fed136;
  font-style: normal;
  letter-spacing: 1.3px;
  line-height: normal;
}
.navigation__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style: none;
  width: 100%;
}
.navigation__list-item {
  /* Style for "Menu" */
  width: 480px;
  height: 10px;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__list-item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.navigation__list-item:not(:last-of-type) {
  margin-right: 40px;
}

/* SPLASH*/
.splash {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("https://i.postimg.cc/QtLFzMcz/header-bg.jpg");
  background-position: center;
  background-size: cover;
}
.splash__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-shadow: 0 0 3px black;
}
.splash__inner-sub-title {
  font-weight: 400;
  font-size: 45px;
}
.splash__inner-title {
  text-transform: uppercase;
  font-size: 96px;
  margin: 60px 30px;
}
.splash__inner-btn {
  /* Style for "Button" */
  width: 240px;
  height: 65px;
  background-color: #fed136;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

/* SERVICES*/
.services {
  display: flex;
  flex-direction: column;
}
.services__boxes {
  display: flex;
}
.services__boxes-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 60px;
}
.services__boxes-item-icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  font-size: 54px;
  color: rgb(254, 209, 54);
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
}
.services__boxes-item-title {
  padding: 20px 0;
  font-weight: bold;
}
.services__boxes-item-description {
  color: #bbb;
}

/* PORTFOLIO*/
.portfolio {
  background-color: #eeeeee;
}
.portfolio__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
.portfolio__boxes-card {
  width: 400px;
  height: 550px;
  margin-bottom: 40px;
}
.portfolio__boxes-card-img {
  width: 400px;
  height: 400px;
}
.portfolio__boxes-card-img img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__boxes-card-description {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.portfolio__boxes-card-description-subtitle {
  font-family: "Unna", serif;
  color: #959595;
}

/* FOOTER*/
.footer {
  padding: 30px 0;
}
.footer__details {
  position: relative;
  width: 100%;
}
.footer__details-copyright {
  max-width: 30%;
  font-size: 13px;
}
.footer__details-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer__details-icons-list {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.footer__details-icons-list-point {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.footer__details-icons-list-point:not(:last-of-type) {
  margin-right: 20px;
}
.footer__details-icons-list a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 0;
}
.footer__details-icons-list a i {
  font-size: 20px;
}

@media (max-width: 992px) {
  section {
    padding: 30px 0;
  }
  [class*=info-title] {
    font-size: 36px;
  }
  [class*=info-subtitle] {
    font-size: 20px;
  }
  .navigation {
    padding: 15px 0;
  }
  .navigation__logo {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .navigation__list-item {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .navigation__list-item a {
    font-size: 18px;
  }
  .navigation__list-item:not(:last-of-type) {
    margin-right: 20px;
  }
  .splash {
    min-height: 100vw;
  }
  .splash__inner-sub-title {
    font-size: 30px;
  }
  .splash__inner-title {
    font-size: 54px;
  }
  .splash__inner-btn {
    padding: 15px 30px;
    font-size: 20px;
  }
  .services__boxes {
    flex-direction: column;
  }
  .services__boxes-item {
    padding: 20px;
  }
  .services__boxes-item-description {
    line-height: 1.3;
    padding: 0 140px;
  }
  .portfolio__boxes-card {
    width: 300px;
    height: 350px;
    margin-bottom: 30px;
  }
  .portfolio__boxes-card-img {
    width: 300px;
    height: 250px;
  }
  .portfolio__boxes-card-img img {
    width: 300px;
    height: 250px;
  }
  .portfolio__boxes-card-description {
    height: 100px;
  }
  .portfolio__boxes-card-description-title {
    font-size: 20px;
  }
  .portfolio__boxes-card-description-subtitle {
    font-size: 18px;
  }
  .footer {
    padding: 15px 0;
  }
  .footer__details-copyright {
    position: relative;
    max-width: 100%;
    text-align: center;
    font-size: 13px;
  }
  .footer__details-icons {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .navigation .container {
    flex-direction: column;
  }
  .navigation__list {
    justify-content: center;
    padding: 0;
    padding-top: 10px;
  }
  .navigation__list-item a {
    font-size: 22px;
  }
  .navigation__list-item:not(:last-of-type) {
    margin: 0;
    padding-right: 10px;
    border-right: 2px solid rgb(254, 209, 54);
  }
  .navigation__list-item:not(:first-of-type) {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .navigation__list-item a {
    font-size: 12px;
  }
  .splash__inner-title {
    font-size: 36px;
  }
  .splash__inner-sub-title {
    font-size: 20px;
  }
  .services__boxes-item-description {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .navigation__list-item a {
    font-size: 10px;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxhQUFBO0FBVUEsVUFBQTtBQUVBOzs7RUFHQyxzQkFBQTtFQUNBLFNBQUE7QUNURDs7QURZQTtFQUNDLGFBQUE7RUFDQSxnQkFBQTtFQUNBLHNCQUFBO0VBQ0EsV0FBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtFQUNBLHFDQWxCYztFQW1CWCxvQ0FBQTtBQ1RKOztBRFlBO0VBQ0MsaUJBQUE7RUFDQSxlQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0FDVEQ7O0FEWUE7RUFDQyxlQUFBO0FDVEQ7O0FEWUE7RUFDQyxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxtQkFBQTtBQ1REOztBRFlBO0VBQ0MseUJBQUE7RUFDQSxlQUFBO0FDVEQ7O0FEWUE7RUFDQyxXQWpEVztFQWtEWCwwQkFoRGM7RUFpRGQsb0JBQUE7QUNURDs7QURZQSxjQUFBO0FBRUE7RUFDQyxrQkFBQTtFQUNBLFdBQUE7RUFDQSxlQUFBO0VBQ0EsVUFBQTtBQ1ZEO0FEV0M7RUFDQyxXQUFBO0VBQ00sWUFBQTtFQUNBLGNBQUE7RUFDQSxjQUFBO0VBQ0EsbUNBL0RNO0VBZ0VOLGVBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0Esc0JBQUE7RUFDQSxpQkFBQTtFQUNBLGdCQUFBO0VBQ0EsOEJBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxxQkFBQTtFQUNBLG1CQUFBO0FDVFI7QURXQztFQUNDLGFBQUE7RUFDQSx5QkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSxnQkFBQTtFQUNBLFdBQUE7QUNURjtBRFdFO0VBQ0MscUJBQUE7RUFDUyxZQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7RUFDVCxlQUFBO0FDVEg7QURVRztFQUNDLFdBQUE7RUFDQSxxQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0FDUko7QURVRztFQUNDLGtCQUFBO0FDUko7O0FEY0EsVUFBQTtBQUVBO0VBQ0Msa0JBQUE7RUFDQSxhQUFBO0VBQ0EsV0FBQTtFQUNBLG9FQUFBO0VBQ0EsMkJBQUE7RUFDQSxzQkFBQTtBQ1pEO0FEY0M7RUFDQyxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxZQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EscUNBeEhhO0VBeUhiLFdBOUhVO0VBK0hWLDBCQUFBO0FDWkY7QURjRTtFQUNDLGdCQUFBO0VBQ0EsZUFBQTtBQ1pIO0FEZUU7RUFDQyx5QkFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtBQ2JIO0FEZ0JFO0VBQ1UsdUJBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLHlCQUFBO0VBQ1Qsa0JBQUE7RUFDQSxZQUFBO0VBQ0EseUJBQUE7RUFDQSxXQXBKUztFQXFKVCxpQkFBQTtFQUNBLGVBQUE7RUFDQSxlQUFBO0FDZEg7O0FEbUJBLFlBQUE7QUFFQTtFQUNDLGFBQUE7RUFDQSxzQkFBQTtBQ2pCRDtBRG1CQztFQUNDLGFBQUE7QUNqQkY7QURtQkU7RUFDQyxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0FDakJIO0FEbUJHO0VBQ0Msa0JBQUE7RUFDQSxTQUFBO0VBQ0EsMkJBQUE7RUFDQSxZQUFBO0VBQ0EsYUFBQTtFQUNBLGVBQUE7RUFDQSx3QkFuTFE7RUFvTFIsbUNBQUE7RUFDQSxrQkFBQTtBQ2pCSjtBRG9CRztFQUNDLGVBQUE7RUFDQSxpQkFBQTtBQ2xCSjtBRHFCRztFQUNDLFdBNUxRO0FDeUtaOztBRHlCQSxhQUFBO0FBRUE7RUFDQyx5QkFBQTtBQ3ZCRDtBRHlCQztFQUNDLGFBQUE7RUFDQSxlQUFBO0VBQ0EsNkJBQUE7RUFDQSxjQUFBO0FDdkJGO0FEeUJFO0VBQ0MsWUFBQTtFQUNBLGFBQUE7RUFDQSxtQkFBQTtBQ3ZCSDtBRHlCRztFQUNDLFlBQUE7RUFDQSxhQUFBO0FDdkJKO0FEeUJJO0VBQ0MsWUFBQTtFQUNBLGFBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0FDdkJMO0FEMkJHO0VBQ0MsYUFBQTtFQUNBLGFBQUE7RUFDQSxzQkFBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7RUFDQSxzQkFwT1E7QUMyTVo7QUQyQkk7RUFDQywwQkFwT1U7RUFxT1YsY0FBQTtBQ3pCTDs7QURnQ0EsVUFBQTtBQUVBO0VBQ0MsZUFBQTtBQzlCRDtBRGdDQztFQUNDLGtCQUFBO0VBQ0EsV0FBQTtBQzlCRjtBRGdDRTtFQUNDLGNBQUE7RUFDQSxlQUFBO0FDOUJIO0FEaUNFO0VBQ0Msa0JBQUE7RUFDQSxTQUFBO0VBQ0EsUUFBQTtFQUNBLGdDQUFBO0FDL0JIO0FEaUNHO0VBQ0MsYUFBQTtFQUNBLFdBQUE7RUFDQSx1QkFBQTtFQUNBLGdCQUFBO0VBQ0EsVUFBQTtBQy9CSjtBRGlDSTtFQUNDLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxzQkFBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtBQy9CTDtBRGlDSztFQUNDLGtCQUFBO0FDL0JOO0FEa0NJO0VBQ0Msa0JBQUE7RUFDQSxTQUFBO0VBQ0EsUUFBQTtFQUNBLGdDQUFBO0VBQ0EsV0EzUk87RUE0UlAsa0JBQUE7RUFDQSxZQUFBO0FDaENMO0FEa0NLO0VBQ0MsZUFBQTtBQ2hDTjs7QUR5Q0E7RUFFQztJQUNDLGVBQUE7RUN2Q0E7RUQwQ0Q7SUFDQyxlQUFBO0VDeENBO0VEMENEO0lBQ0MsZUFBQTtFQ3hDQTtFRDRDRDtJQUNDLGVBQUE7RUMxQ0E7RUQ0Q0E7SUFDQyxhQUFBO0lBQ0EsdUJBQUE7SUFDQSxlQUFBO0VDMUNEO0VEOENDO0lBQ0MsYUFBQTtJQUNBLFVBQUE7SUFDQSxTQUFBO0lBQ0EsdUJBQUE7RUM1Q0Y7RUQ2Q0U7SUFDQyxlQUFBO0VDM0NIO0VENkNFO0lBQ0Msa0JBQUE7RUMzQ0g7RURtREQ7SUFDQyxpQkFBQTtFQ2pEQTtFRG1EQztJQUNDLGVBQUE7RUNqREY7RURtREM7SUFDQyxlQUFBO0VDakRGO0VEbURDO0lBQ0Msa0JBQUE7SUFDQSxlQUFBO0VDakRGO0VEeURBO0lBQ0Msc0JBQUE7RUN2REQ7RUR5REM7SUFDQyxhQUFBO0VDdkRGO0VEeURFO0lBQ0MsZ0JBQUE7SUFDQSxnQkFBQTtFQ3ZESDtFRGdFQTtJQUNDLFlBQUE7SUFDQSxhQUFBO0lBQ0EsbUJBQUE7RUM5REQ7RURnRUM7SUFDQyxZQUFBO0lBQ0EsYUFBQTtFQzlERjtFRGdFRTtJQUNDLFlBQUE7SUFDQSxhQUFBO0VDOURIO0VEa0VDO0lBQ0MsYUFBQTtFQ2hFRjtFRGtFRTtJQUNDLGVBQUE7RUNoRUg7RURtRUU7SUFDQyxlQUFBO0VDakVIO0VEeUVEO0lBQ0MsZUFBQTtFQ3ZFQTtFRDBFQztJQUNDLGtCQUFBO0lBQ0EsZUFBQTtJQUNBLGtCQUFBO0lBQ0EsZUFBQTtFQ3hFRjtFRDBFQztJQUNDLGtCQUFBO0lBQ0EsT0FBQTtJQUNBLE1BQUE7SUFDQSwwQkFBQTtJQUNBLGNBQUE7RUN4RUY7QUFDRjtBRDZFQTtFQUlFO0lBQ0Msc0JBQUE7RUM5RUQ7RURpRkE7SUFDQyx1QkFBQTtJQUNBLFVBQUE7SUFDQSxpQkFBQTtFQy9FRDtFRGtGRTtJQUNDLGVBQUE7RUNoRkg7RURrRkU7SUFDQyxTQUFBO0lBQ0EsbUJBQUE7SUFDQSx5Q0FBQTtFQ2hGSDtFRGtGRTtJQUNDLGtCQUFBO0VDaEZIO0FBQ0Y7QURzRkE7RUFDQztJQUNDLGVBQUE7RUNwRkE7RUR1RkE7SUFDQyxlQUFBO0VDckZEO0VEdUZBO0lBQ0MsZUFBQTtFQ3JGRDtFRHlGRDtJQUNDLFVBQUE7RUN2RkE7QUFDRjtBRDBGQTtFQUNDO0lBQ0MsZUFBQTtFQ3hGQTtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */